//Font
$body-font-size: 14px;
$import-google-fonts: true;
$font-url: 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i';
$font-name: 'Open sans';
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif;